ada
brazil
configstore
cr
gtk-2.0
yarn/global
lazygit/
nvim/plugin/packer_compiled.lua
homebrew
mume
zsh/.zsh_sessions
zsh/.zcompdump-*
zsh/.zsh_history
zsh/profiles/amazon
zsh/zfuncs/deviceManager
tmux/plugins
crossnote
bin/wasm_filesize.sh
bin/neovim/share
bin/neovim/lib/nvim/parser
bin/neovim/bin/nvim
